# Data Science Tools and Ecosystem using H1 style heading

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**

* List popular languages for Data Science
* List popular liabraries for Data Science
* List popular Data Science tools
* Show differences between ordered and unordered lists

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Java

Some of the commonly used libraries by Data Scientists include:

1. TensorFlow (Python)
2. Matpotlib (Python)
3. NumPy (Python)
4. Keras (Python)
5. dplyr (R)
6. ggplot2 (R)
7. tidyr (r)

| Data Science Tools |
| ------------------- |
| Apache Spark|
|Apache Hadoop|
| R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python .

In [13]:
# This is a simple arithemtic expression to multiply then add integers

(3*4)+5

17

In [15]:
# This will convert 200 minutes into hours by dividing by 60

200/6

33.333333333333336

## Author
Marta Krason